<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pbrk.pbook.dao.admin.AdminBookDao">
	
	<!-- 공통코드 목록 조회(view) -->
	<select id="getAdminCodeViewList" resultType="com.pbrk.pbook.entity.CodeView">
		SELECT group_cd,
			   code_cd,
		  	   code_nm,
			   code_del,
			   reg_no,
			   reg_date,
			   mod_no,
			   mod_date,
			   group_nm,
	  	 	   code_del_nm,
		 	   reg_nm,
		       mod_nm
		FROM code_view
		WHERE group_cd = #{groupCd}
		ORDER BY group_cd, code_cd
	</select>
	
	
	<!-- 도서목록 조회 -->
	<select id="getAdminBookList" resultType="com.pbrk.pbook.entity.Book">
		SELECT book_no,
			   book_title,
			   book_desc,
			   book_author,
			   book_author_desc,
			   book_publisher,
			   book_pub_date,
			   book_img_url,
			   book_pub,
			   group_cd, 		 
			   code_cd, 		 
			   reg_no,
			   reg_date,
			   mod_no,
			   mod_date
		FROM book
		ORDER BY reg_date DESC
		LIMIT #{offset}, #{size}
	</select>
	
	<!-- 도서목록 조회(view) -->
	<select id="getAdminBookViewList" resultType="com.pbrk.pbook.entity.BookView">
		SELECT book_no,
			   book_title,
			   book_desc,
			   book_author,
			   book_author_desc,
			   book_publisher,
			   book_pub_date,
			   book_img_url,
			   book_pub,
			   group_cd, 		 
			   code_cd, 		 
			   reg_no,
			   reg_date,
			   mod_no,
			   mod_date,
			   group_nm,
			   code_nm,
		 	   reg_nm,
		 	   mod_nm,
		   	   book_pub_nm
		FROM book_view
		WHERE 1=1
		<if test="codeCd != null and codeCd != '' and codeCd != 0">
		AND code_cd = #{codeCd}
		</if> 
		<if test="query != null and query != ''">
		AND ${field} LIKE '%${query}%'
		</if>
		ORDER BY reg_date DESC
		LIMIT #{offset}, #{size}
	</select>
	
	<!-- 도서 게시물수 조회 -->
	<select id="getAdminBookCount" resultType="int">
		SELECT COUNT(*) AS count 
		FROM book
		WHERE 1=1
		<if test="codeCd != null and codeCd != '' and codeCd != 0">
		AND code_cd = #{codeCd}
		</if> 
		<if test="query != null and query != ''">
		AND ${field} LIKE '%${query}%'
		</if>
	</select>
		
	<!-- 도서 상세정보 조회 -->
	<select id="getAdminBookDetail" resultType="com.pbrk.pbook.entity.Book">
		SELECT book_no,
			   book_title,
			   book_desc,
			   book_author,
			   book_author_desc,
			   book_publisher,
			   book_pub_date,
			   book_img_url,
			   book_pub,
			   group_cd, 		 
			   code_cd, 		 
			   reg_no,
			   reg_date,
			   mod_no,
			   mod_date
		FROM book
		WHERE book_no = #{book_no}
	</select>
	
	<!-- 도서 상세정보 조회(view) -->
	<select id="getAdminBookViewDetail" resultType="com.pbrk.pbook.entity.BookView">
		SELECT book_no,
			   book_title,
			   book_desc,
			   book_author,
			   book_author_desc,
			   book_publisher,
			   book_pub_date,
			   book_img_url,
			   book_pub,
			   group_cd, 		 
			   code_cd, 		 
			   reg_no,
			   reg_date,
			   mod_no,
			   mod_date,
			   group_nm,
			   code_nm,
		 	   reg_nm,
		 	   mod_nm,
		   	   book_pub_nm
		FROM book_view
		WHERE book_no = #{book_no}
	</select>
	
	<!-- 도서 등록 -->
	<insert id="adminBookInsert" parameterType="com.pbrk.pbook.entity.Book">
		INSERT INTO book(book_title,
						 book_desc,
						 book_author,
						 book_author_desc,
						 book_publisher,
   						 book_pub_date,
   						 book_img_url,
   						 group_cd,
   						 code_cd,
   						 reg_no,
   						 reg_date
		)
		VALUES(#{book_title},
			   #{book_desc},
			   #{book_author},
			   #{book_author_desc},
			   #{book_publisher},
   			   #{book_pub_date},
   			   #{book_img_url},
   			   #{group_cd},
   			   #{code_cd},
   			   #{reg_no},
   			   NOW()
		)
	</insert>
	
	<!-- 도서 수정 -->
	<update id="adminBookUpdate" parameterType="com.pbrk.pbook.entity.Book">
		UPDATE book
		SET
			book_title       = #{book_title},
			book_desc        = #{book_desc} ,
			book_author      = #{book_author},
			book_author_desc = #{book_author_desc},
			book_publisher   = #{book_publisher},
		    book_pub_date    = #{book_pub_date},
			book_img_url     = #{book_img_url},
			book_pub         = #{book_pub},
			group_cd         = #{group_cd},
			code_cd          = #{code_cd},			
			mod_no           = #{mod_no}
		WHERE book_no = #{book_no}
	</update>
	
	
	<!-- 회원번호 조회 -->
	<select id="getAdminMemberNo" resultType="int">
		SELECT member_no 
		FROM member
		WHERE member_id = #{memberId}
	</select>
	
</mapper>