<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pbrk.pbook.dao.admin.AdminMemberDao">
	
	<!-- 공통코드 목록 조회(view) -->
	<select id="getAdminCodeViewList" resultType="com.pbrk.pbook.entity.CodeView">
		SELECT group_cd,
			   code_cd,
		  	   code_nm,
			   code_del,
			   reg_no,
			   reg_date,
			   mod_no,
			   mod_date,
			   group_nm,
	  	 	   code_del_nm,
		 	   reg_nm,
		       mod_nm
		FROM code_view
		WHERE group_cd = #{groupCd}
		ORDER BY group_cd, code_cd
	</select>
	
	<!-- 회원 목록 조회 -->
	<select id="getAdminMemberList" resultType="com.pbrk.pbook.entity.Member">
		SELECT member_no,
			   member_id,
			   member_pwd,
			   member_nm,
			   member_gender,
			   member_bth,
			   member_phone,
			   member_email,
			   member_del,		
			   group_cd,
			   code_cd,		 
			   reg_no,		 
			   reg_date,
			   mod_no,		 
			   mod_date
		FROM member
		ORDER BY reg_date DESC
		LIMIT #{offset}, #{size}
	</select>
	
	<!-- 회원 목록 조회(view) -->
	<select id="getAdminMemberViewList" resultType="com.pbrk.pbook.entity.MemberView">
		SELECT member_no,
			   member_id,
			   member_pwd,
			   member_nm,
			   member_gender,
			   member_bth,
			   member_phone,
			   member_email,
			   member_del,		
			   group_cd,
			   code_cd,		 
			   reg_no,		 
			   reg_date,
			   mod_no,		 
			   mod_date,
			   member_del_nm,
			   group_nm,
			   code_nm,
			   reg_nm,
			   mod_nm
		FROM member_view
		WHERE 1=1
		<if test="codeCd != null and codeCd != '' and codeCd != 0">
		AND code_cd = #{codeCd}
		</if> 
		<if test="query != null and query != ''">
		AND ${field} LIKE '%${query}%'
		</if>
		ORDER BY reg_date DESC
		LIMIT #{offset}, #{size}
	</select>
	
	<!-- 회원 게시물수 조회 -->
	<select id="getAdminMemberCount" resultType="int">
		SELECT COUNT(*) AS count 
		FROM member
		WHERE 1=1
		<if test="codeCd != null and codeCd != '' and codeCd != 0">
		AND code_cd = #{codeCd}
		</if> 
		<if test="query != null and query != ''">
		AND ${field} LIKE '%${query}%'
		</if>
	</select>
	
	<!-- 회원 상세정보 조회 -->
	<select id="getAdminMemberDetail" resultType="com.pbrk.pbook.entity.Member">
		SELECT member_no,
			   member_id,
			   member_pwd,
			   member_nm,
			   member_gender,
			   member_bth,
			   member_phone,
			   member_email,
			   member_del,		
			   group_cd,
			   code_cd,		 
			   reg_no,		 
			   reg_date,
			   mod_no,		 
			   mod_date
		FROM member
		WHERE member_no = #{member_no}
	</select>
	
	<!-- 회원 상세정보 조회(view) -->
	<select id="getAdminMemberViewDetail" resultType="com.pbrk.pbook.entity.MemberView">
		SELECT member_no,
			   member_id,
			   member_pwd,
			   member_nm,
			   member_gender,
			   member_bth,
			   member_phone,
			   member_email,
			   member_del,		
			   group_cd,
			   code_cd,		 
			   reg_no,		 
			   reg_date,
			   mod_no,		 
			   mod_date,
			   member_del_nm,
			   group_nm,
			   code_nm,
			   reg_nm,
			   mod_nm
		FROM member_view
		WHERE member_no = #{member_no}
	</select>
		
	<!-- 회원 등록 -->
	<insert id="adminMemberInsert" parameterType="com.pbrk.pbook.entity.Member">
		INSERT INTO member(member_id,
					       member_pwd,
					       member_nm,
					       member_gender,
					       member_bth,
					       member_phone,
					       member_email,
					       group_cd,
					       code_cd,		 
					       reg_no,		 
					       reg_date
		)
		VALUES(#{member_id},
			   #{member_pwd},
			   #{member_nm},
			   #{member_gender},
   			   #{member_bth},
   			   #{member_phone},
   			   #{member_email},
   			   #{group_cd},
   			   #{code_cd},
   			   #{reg_no},
   			   NOW()
		)
	</insert>
	
	<!-- 회원 수정 -->
	<update id="adminMemberUpdate" parameterType="com.pbrk.pbook.entity.Member">
		UPDATE member
		SET
			member_pwd    = #{member_pwd},
			member_nm     = #{member_nm},
		    member_gender = #{member_gender},
		    member_bth    = #{member_bth},
		    member_phone  = #{member_phone},
		    member_email  = #{member_email},
		    group_cd      = #{group_cd},
		    code_cd       = #{code_cd},
		    mod_no        = #{mod_no}
		WHERE member_no = #{member_no}
	</update>
	
	<!-- 회원 삭제 -->
	<update id="adminMemberDelete" parameterType="com.pbrk.pbook.entity.Member">
		UPDATE member
		SET
			member_del = 1,
			mod_no     = #{mod_no}		   
		WHERE member_no = #{member_no}
	</update>
	
	<!-- 회원번호 조회 -->
	<select id="getAdminMemberNo" resultType="int">
		SELECT member_no 
		FROM member
		WHERE member_id = #{memberSessionId}
	</select>
	
</mapper>