<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pbrk.pbook.dao.admin.AdminBookReviewDao">
	
	<!-- 공통코드 목록 조회(view) -->
	<select id="getAdminCodeViewList" resultType="com.pbrk.pbook.entity.CodeView">
		SELECT group_cd,
			   code_cd,
		  	   code_nm,
			   code_del,
			   reg_no,
			   reg_date,
			   mod_no,
			   mod_date,
			   group_nm,
	  	 	   code_del_nm,
		 	   reg_nm,
		       mod_nm
		FROM code_view
		WHERE group_cd = #{groupCd}
		ORDER BY group_cd, code_cd
	</select>
	
	<!-- 도서리뷰 목록 조회 -->
	<select id="getAdminBookReviewList" resultType="com.pbrk.pbook.entity.BookReview">
		SELECT book_no,
			   book_review_no,
			   book_score,
			   book_review_content,
			   book_review_pub,
			   book_review_del,
			   reg_no,
			   reg_date,
			   mod_no,
			   mod_date
		FROM book_review
		WHERE book_no = #{no}
		ORDER BY reg_date DESC
		LIMIT #{offset}, #{size}
	</select>
	
	<!-- 도서리뷰 목록 조회(view) -->
	<select id="getAdminBookReviewViewList" resultType="com.pbrk.pbook.entity.BookReviewView">
		SELECT book_no,
		       book_review_no,
			   book_score,
			   book_review_content,
			   book_review_pub,
			   book_review_del,
			   reg_no,
			   reg_date,
			   mod_no,
			   mod_date,
			   book_pub_nm,
			   book_del_nm,
			   reg_nm,
			   mod_nm
		FROM book_review_view
		WHERE book_no = #{no}
		ORDER BY reg_date DESC
		LIMIT #{offset}, #{size}
	</select>
	
	<!-- 도서리뷰 게시물수 조회 -->
	<select id="getAdminBookReviewCount" resultType="int">
		SELECT COUNT(*) AS count 
		FROM book_review
		WHERE book_no = #{no}
	</select>
		
	<!-- 도서 작성자별 리뷰 상세정보 조회 -->
	<select id="getAdminBookReviewDetail" resultType="com.pbrk.pbook.entity.BookReview">
		SELECT book_no,
		       book_review_no,
			   book_score,
			   book_review_content,
			   book_review_pub,
			   book_review_del,
			   reg_no,
			   reg_date,
			   mod_no,
			   mod_date
		FROM book_review
		WHERE book_review_no = #{book_review_no}
		
	</select>
	
	<!-- 도서 작성자별 리뷰 상세정보 조회(view) -->
	<select id="getAdminBookReviewViewDetail" resultType="com.pbrk.pbook.entity.BookReviewView">
		SELECT book_no,
			   book_review_no,
			   book_score,
			   book_review_content,
			   book_review_pub,
			   book_review_del,
			   reg_no,
			   reg_date,
			   mod_no,
			   mod_date,
			   book_pub_nm,
			   book_del_nm,
			   reg_nm,
			   mod_nm
		FROM book_review_view
		WHERE book_review_no = #{book_review_no}
	</select>
	
	<!-- 도서 작성자별 리뷰 수정 -->
	<update id="adminBookReviewUpdate" parameterType="com.pbrk.pbook.entity.BookReview">
		UPDATE book_review
		SET
		    book_score          = #{book_score},
			book_review_content = #{book_review_content},
			book_review_pub     = #{book_review_pub},
			book_review_del     = #{book_review_del},
			mod_no              = #{mod_no}
		WHERE book_review_no = #{book_review_no}
	</update>
	
	<!-- 도서 작성자별 리뷰 삭제 -->
	<update id="adminBookReviewDelete" parameterType="com.pbrk.pbook.entity.BookReview">
		UPDATE book_review
		SET
			book_review_del = TRUE,
			mod_no          = #{mod_no}		   
		WHERE book_review_no = #{book_review_no}
	</update>
	
</mapper>